<div id="content">
	<div id="post" class="post-1 post type-post status-publish format-standard hentry category-1">
		<div id="post_title">
			<a href="/blog/article/bid/<%= blog.bid %>" rel="bookmark"><%= blog.title %></a>
		</div>
		<div id="post_date">
			<%= global.Routing.models.Model_Util.parseDate(blog.date,"yyyy-MM-dd hh:mm") %>
		</div>
		<div id="clear"></div>
		<hr />
		<div id="post_info">
			<b>Author:</b> <%= blog.author %> <b>|</b> <b>Category:</b> 
			<a href="/blog/article/bid/<%= blog.bid %>" title="" rel="category">未分类</a> 
			<b>|</b> 
			<a href="/blog/article/bid/<%= blog.bid %>#comments" title="《<%= blog.title %>》上的评论">
				<b>Comments:</b> <%= blog.comments.length %>
			</a>
		</div>
		<div id="content">
			<%- blog.content %>
		</div>
		<% if(globalParam.admin) { %>
			<div>
				<% if(!blog.isTop) {%>
					<a href="/admin/setTop/bid/<%=blog.bid%>">置顶</a>
				<% } else {%>
					<a href="/admin/unsetTop/bid/<%=blog.bid%>">取消置顶</a>
				<% } %>	 
				| <a href="/admin/edit/bid/<%=blog.bid%>">编辑</a> 
				| <a>标签管理</a>
			</div>
		<% } %>
		<% if(blog.comments.length > 0) {%>
		<div id="comment_list">
			<span id="comment_title">Comments:</span>
			<ul>
				<% for(var i in blog.comments) { %>
				<li>
					<div id="comment_<%= i %>" class="comment">
						<div id="comment_info">
							<img alt='' src='http://0.gravatar.com/avatar/<%= blog.comments[i].avatar %>?s=48' class='avatar avatar-48 photo avatar-default' height='48' width='48' />
						</div>
						<div id="comment_content">
							<div id="comment_link">
								<a href="#comment_1">#<%= i %></a>
							</div>
							<div id="comment_author">
								<a href='<%= blog.comments[i].url %>' rel='external nofollow' class='url'><%= blog.comments[i].author %></a>
							</div>
							<div id="comment_text">
								<p>
									<%= blog.comments[i].comment %>
								</p>
							</div>
							<div id="comment_reply">
								<a class='comment-reply-link' href='/?p=1&#038;replytocom=1#respond' onclick='return addComment.moveForm("comment-1", "1", "respond", "1")'>回复</a>
							</div>
							<div id="comment_date"><%= global.Routing.models.Model_Util.parseDate(blog.comments[i].date,"yyyy-MM-dd hh:mm") %>
							</div>
						</div>
						<div id="clear"></div>
					</div>
				</li>
				<% } %>

			</ul>
		</div>

		<% } %>
		<div id="comment_paginate_links"></div>
		<div id="respond">
			<h3 id="reply-title">发表评论 
				<small>
					<a rel="nofollow" id="cancel-comment-reply-link" href="/?p=1#respond" style="display:none;">取消回复</a>
				</small>
			</h3>
			<form action="/blog/addComment" method="post" id="commentform">
				<input type="hidden" name="bid" value="<%= blog.bid %>">
				<input type="hidden" name="commentTo" value="<%= blog.title%>">
				<p class="comment-notes">电子邮件地址不会被公开。 必填项已用 
					<span class="required">*</span> 标注
				</p>							
				<p class="comment-form-author">
					<label for="author">姓名</label> 
					<span class="required">*</span>
					<input id="author" name="author" type="text" value="" size="30" aria-required='true' />
				</p>
				<p class="comment-form-email">
					<label for="email">电子邮件</label> 
					<span class="required">*</span>
					<input id="email" name="email" type="text" value="" size="30" aria-required='true' />
				</p>
				<p class="comment-form-url">
					<label for="url">站点</label>
					<input id="url" name="url" type="text" value="" size="30" />
				</p>
				<p class="comment-form-comment">
					<label for="comment">评论</label>
					<textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
				</p>						
				<p class="form-allowed-tags">您可以使用这些 
					<abbr title="HyperText Markup Language">HTML</abbr> 标签和属性： 
					<code>
						&lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;strike&gt; &lt;strong&gt; 
					</code>
				</p>						
				<p class="form-submit">
					<input name="submit" type="submit" id="submit" value="发表评论" />
					<input type='hidden' name='comment_post_ID' value='1' id='comment_post_ID' />
					<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
				</p>
			</form>
		</div><!-- #respond -->
	</div>
	<div id="post_nav"></div>
</div>
	